* {
    box-sizing: border-box;
}
html {
    background-image: url(../assets/metalbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
}
.headerBg_wrapper {
    background: url(../assets/matrixbg.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
}
.headerBg_wrapper img::after {
    background-color: rgba(0,0,0,1)
}
header {
    display: flex;
    color: lightgray;
    font-family: 'Quantico';
    text-align: center;
    justify-content: center;
}
header h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 3em;
}
.logo_wrapper {
    height: 200px;
    width: auto;
}
.logo_wrapper img {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
    width: auto;
}
.nav_wrapper {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: rgba(0,150,0,0.6);
    height: 3rem
}
.main_nav {
    display: flex;
    margin: auto;
    padding: 0;
}
.main_nav a {
    margin:  0 30px;
    text-decoration: none;
    color: lightgray;
    font-family: 'Geo';
    font-size: 1.5em
}
.sectionbase {
    color: lightgray;
    font-family: 'Quantico';
    margin: 10px;
    margin-top: 20px;
    font-size: 1em
}
.sectionbase h2 {
    font-size:;
}
.sectionbase p {
    color: rgba(0,155,0,1);
    font-family: 'Geo';
}